body {
  margin: 0;
  text-align: center;
  /* font-family: helvetica, sans-serif; */
  font-family: "Indie Flower", cursive;
  font-size: 200%;
  color: #40514e;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: "Dancing Script", cursive;
  font-size: 5.625rem;
  font-weight: 900;
  color: #66bfbf;
}

h2 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
  line-height: 200%;
  font-weight: bold;
  font-weight: 600;
}

h3 {
  font-family: "Noto Sans JP", sans-serif;
  color: #11999e;
  font-weight: bold;
  font-weight: 600;
  font-size: 1.25rem;
}

/* p {
  line-height: 2;
} */

.top-container {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  text-align: center;
}

.bottom-container {
  color: #66bfbf;
  margin: 30px 0 0 0;
  padding-top: 50px;
  background-color: #66bfbf;
}

.bottom-text {
  color: #eaf6f6;
  margin: 32px 0 0 0;
  padding-bottom: 50px;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.footer-link {
  color: #11999e;
}

.intro {
  width: 30%;
  margin: auto;
}
.skill-row {
  margin: 100px auto 100px auto;
  width: 40%;
  text-align: left;
  line-height: 2;
}

.computer {
  width: 27%;
  float: left;
  margin-right: 40px;
}

.oSystem {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.break {
  color: #eaf6f6;
  border-style: dotted solid;
  size: 30px;
  border-top-width: thick;
  width: 5%;
  margin: 100px auto 100px auto;
}

.BUTTON_SWQ {
  background: #1ed0af;
  background-image: -webkit-linear-gradient(top, #1ed0af, #3d97f6);
  background-image: -moz-linear-gradient(top, #1ed0af, #3d97f6);
  background-image: -ms-linear-gradient(top, #1ed0af, #3d97f6);
  background-image: -o-linear-gradient(top, #1ed0af, #3d97f6);
  background-image: -webkit-gradient(to bottom, #1ed0af, #3d97f6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: 900;
  padding: 15px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337fed 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.BUTTON_SWQ:hover {
  border: solid #337fed 1px;
  background: #1e62d0;
  background-image: -webkit-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -moz-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -ms-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -o-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -webkit-gradient(to bottom, #1e62d0, #3d94f6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
